.create-spot-form {
    width: max-content;
    margin: 40px auto;
    font-family: "Arial";
    padding: 25px 28px;
    background: lightgrey;
    border-radius: 4px;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
/* h4 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #6E6D70;
} */

.button {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    padding: 10px 8px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    width: 100%;
  }
