/* html {
    display: grid;
    min-height: 100%;
  } */

body {
    font-family: "Arial";
    text-transform: uppercase;
  }

.spot-card{
    border: 1px solid;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 350px;
    height: 350px;
    background: white;
    border-radius: 10px;
}

.spot-name{
    font-weight: bold;
    font-size: large;
    color: black;
}

.spot-card-preview-image {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
  /* height: 200px; */
  margin: 20px;
}
