.signupform {
    width: max-content;
    margin: 40px auto;
    font-family: "Arial", sans-serif;
    padding: 25px 28px;
    background: lightgrey;
    border-radius: 4px;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #6E6D70;
}
.button {
    margin-bottom: 5px;
    display: flex;
    padding: 10px 8px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    width: 100%;
  }

 input {
    padding: 10px 8px;
    width: 100%;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
